* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #292c35;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
    display: flex;
    gap: 40px;
}

.counter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    outline: 3px solid turquoise;
    gap: 18px;
    padding: 16px;
    border-radius: 10px;
    width: 300px;
}

.score-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 2px solid turquoise;
    border-radius: 10px;
    padding: 16px;
    height: 100%;
}

.score {
    font-size: 40px;
    font-weight: 700;
    color: turquoise;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.score.max {
    color: indianred;
}

.score.error {
    font-size: 18px;
    white-space: pre-wrap;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px;
    outline: 2px solid turquoise;
    border-radius: 10px;
}

.button {
    border: none;
    border-radius: 5px;
    background-color: turquoise;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
    color: #292c35;
    transition: 0.2s;
}

.button:hover {
    background-color: #00ffe9;
    scale: 1.05;
}

.button.disabled {
    background-color: #4e7570;
}

.title {
    font-size: 20px;
    font-weight: 700;
    color: turquoise;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.counter-settings {
    display: flex;
    flex-direction: column;
    gap: 18px;
    outline: 3px solid turquoise;
    padding: 16px;
    border-radius: 10px;
}

.inputs-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 32px;
    outline: 2px solid turquoise;
    border-radius: 10px;
    padding: 16px;
}

.input {
    text-align: center;
    border: none;
    outline: 4px solid turquoise;
    border-radius: 5px;
    padding: 10px;
    color: #292c35;
    font-weight: 700;
    font-size: 18px;
    max-width: 150px;
    max-height: 40px;
}

.input.error {
    outline: 4px solid red;
}